html,
body {
  min-height: 100%;
  padding-bottom: 15px;
}

body {
  background-image: url("img/dna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#world {
  margin-bottom: 0;
  background-image: url("img/arid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#world td {
  border: 1px solid darkgray;
  width: 10px;
  height: 10px;
}

#world td.dead {
  background-color: transparent;
}

#world td.alive {
  background-color: #7cab3c;
}
